In [1]:
import pandas as pd
import numpy as np

In [2]:
#pd.set_option('display.max_columns', None)

In [3]:
seasons_df=pd.read_pickle('data/seasons_betting_df.pkl')

In [5]:
seasons_df.head()

,Date,HomeTeam,AwayTeam,FTR,home.matchNumber,away.matchNumber,season,B365H,B365D,B365A,...,diff.last3.shots_against_target,diff.last3.corners,diff.last3.corners_conceded,diff.last3.fouls,diff.last3.fouls_other_team,diff.last3.yellows,diff.last3.reds,diff.total.win.whenHorA,diff.total.draw.whenHorA,diff.total.loss.whenHorA
0,2009-08-07,Middlesbrough,Sheffield United,D,1,1,season09,2.25,3.25,3.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
1,2009-08-08,Cardiff,Scunthorpe,H,1,1,season09,1.67,3.60,5.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
2,2009-08-08,Crystal Palace,Plymouth,D,1,1,season09,1.91,3.30,4.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
3,2009-08-08,Derby,Peterboro,H,1,1,season09,2.00,3.30,3.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
4,2009-08-08,Leicester,Swansea,H,1,1,season09,2.25,3.25,3.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>

#### Checking the teams in my data sets for the 15 seasons (2009 to 2023) are the same

In [6]:
len(set(seasons_df['HomeTeam']))

52

In [7]:
ChampFinalStandings=pd.read_csv('data/championshipFinalTable.csv')

In [8]:
ChampFinalStandings[~ChampFinalStandings['Season'].isin(['season06','season07','season08'])]

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Season,PorR
72,1,Newcastle United,46,30,12,4,90,35,55,102,season09,P
73,2,West Bromwich Albion,46,26,13,7,89,48,41,91,season09,P
74,3,Nottingham Forest,46,22,13,11,65,40,25,79,season09,NaN
75,4,Cardiff City,46,22,10,14,73,54,19,76,season09,NaN
76,5,Leicester City,46,21,13,12,61,45,16,76,season09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
427,20,Sheffield Wednesday,46,15,8,23,44,68,-24,53,season23,NaN
428,21,Plymouth Argyle,46,13,12,21,59,70,-11,51,season23,NaN
429,22,Birmingham City,46,13,11,22,50,65,-15,50,season23,R
430,23,Huddersfield Town,46,9,18,19,48,77,-29,45,season23,R
431,24,Rotherham United,46,5,12,29,37,89,-52,27,season23,R

In [9]:
len(set(ChampFinalStandings[~ChampFinalStandings['Season'].isin(['season06','season07','season08'])]['Team']))

52

the count is the same

Need to make a mapping from the names in final table data set to my seasons_df data set.  
(dont need to include the seasons from 06 to 07)

In [10]:
teams_only_in_seasons_df = sorted(
    set(seasons_df['HomeTeam']) - 
    set(ChampFinalStandings[~ChampFinalStandings['Season'].isin(['season06', 'season07', 'season08'])]['Team'])
)

In [11]:
teams_only_in_final = sorted(
    set(ChampFinalStandings[~ChampFinalStandings['Season'].isin(['season06', 'season07', 'season08'])]['Team']) -
    set(seasons_df['HomeTeam'])
)

In [12]:
set(seasons_df['HomeTeam'])

{'Aston Villa',
 'Barnsley',
 'Birmingham',
 'Blackburn',
 'Blackpool',
 'Bolton',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Bristol City',
 'Burnley',
 'Burton',
 'Cardiff',
 'Charlton',
 'Coventry',
 'Crystal Palace',
 'Derby',
 'Doncaster',
 'Fulham',
 'Huddersfield',
 'Hull',
 'Ipswich',
 'Leeds',
 'Leicester',
 'Luton',
 'Middlesbrough',
 'Millwall',
 'Milton Keynes Dons',
 'Newcastle',
 'Norwich',
 "Nott'm Forest",
 'Peterboro',
 'Plymouth',
 'Portsmouth',
 'Preston',
 'QPR',
 'Reading',
 'Rotherham',
 'Scunthorpe',
 'Sheffield United',
 'Sheffield Weds',
 'Southampton',
 'Stoke',
 'Sunderland',
 'Swansea',
 'Watford',
 'West Brom',
 'West Ham',
 'Wigan',
 'Wolves',
 'Wycombe',
 'Yeovil'}

In [13]:
set(ChampFinalStandings[~ChampFinalStandings['Season'].isin(['season06', 'season07', 'season08'])]['Team'])

{'Aston Villa',
 'Barnsley',
 'Birmingham City',
 'Blackburn Rovers',
 'Blackpool',
 'Bolton Wanderers',
 'Bournemouth',
 'Brentford',
 'Brighton & Hove Albion',
 'Bristol City',
 'Burnley',
 'Burton Albion',
 'Cardiff City',
 'Charlton Athletic',
 'Coventry City',
 'Crystal Palace',
 'Derby County',
 'Doncaster Rovers',
 'Fulham',
 'Huddersfield Town',
 'Hull City',
 'Ipswich Town',
 'Leeds United',
 'Leicester City',
 'Luton Town',
 'Middlesbrough',
 'Millwall',
 'Milton Keynes Dons',
 'Newcastle United',
 'Norwich City',
 'Nottingham Forest',
 'Peterborough United',
 'Plymouth Argyle',
 'Portsmouth',
 'Preston North End',
 'Queens Park Rangers',
 'Reading',
 'Rotherham United',
 'Scunthorpe United',
 'Sheffield United',
 'Sheffield Wednesday',
 'Southampton',
 'Stoke City',
 'Sunderland',
 'Swansea City',
 'Watford',
 'West Bromwich Albion',
 'West Ham United',
 'Wigan Athletic',
 'Wolverhampton Wanderers',
 'Wycombe Wanderers',
 'Yeovil Town'}

In [14]:
name_mapping = dict(zip(teams_only_in_final, teams_only_in_seasons_df))

In [15]:
print(f"{len(name_mapping)} teams need to be mapped")

name_mapping

34 teams need to be mapped

{'Birmingham City': 'Birmingham',
 'Blackburn Rovers': 'Blackburn',
 'Bolton Wanderers': 'Bolton',
 'Brighton & Hove Albion': 'Brighton',
 'Burton Albion': 'Burton',
 'Cardiff City': 'Cardiff',
 'Charlton Athletic': 'Charlton',
 'Coventry City': 'Coventry',
 'Derby County': 'Derby',
 'Doncaster Rovers': 'Doncaster',
 'Huddersfield Town': 'Huddersfield',
 'Hull City': 'Hull',
 'Ipswich Town': 'Ipswich',
 'Leeds United': 'Leeds',
 'Leicester City': 'Leicester',
 'Luton Town': 'Luton',
 'Newcastle United': 'Newcastle',
 'Norwich City': 'Norwich',
 'Nottingham Forest': "Nott'm Forest",
 'Peterborough United': 'Peterboro',
 'Plymouth Argyle': 'Plymouth',
 'Preston North End': 'Preston',
 'Queens Park Rangers': 'QPR',
 'Rotherham United': 'Rotherham',
 'Scunthorpe United': 'Scunthorpe',
 'Sheffield Wednesday': 'Sheffield Weds',
 'Stoke City': 'Stoke',
 'Swansea City': 'Swansea',
 'West Bromwich Albion': 'West Brom',
 'West Ham United': 'West Ham',
 'Wigan Athletic': 'Wigan',
 'Wolverhampton Wanderers': 'Wolves',
 'Wycombe Wanderers': 'Wycombe',
 'Yeovil Town': 'Yeovil'}

#### Applying the mapping

In [16]:
ChampFinalStandings['Team']=ChampFinalStandings['Team'].map(name_mapping).fillna(ChampFinalStandings['Team'])

I am going to want to get the teams from the premier league and the league one for prevailing seasons too.

In [17]:
PremierFinalStandings=pd.read_excel('data/premierLeagueFinalTable.xlsx')
LeagueOneFinalStandings=pd.read_excel('data/leagueOneFinalTable.xlsx')

In [18]:
#Dropping season03 to season05 because im keeping the data set to 15 seasons only
PremierFinalStandings=PremierFinalStandings[~PremierFinalStandings['Season'].isin(['season03', 'season04', 'season05'])]

In [19]:
#applying mapping to PL and L1 too
PremierFinalStandings['Team']=PremierFinalStandings['Team'].map(name_mapping).fillna(PremierFinalStandings['Team'])
LeagueOneFinalStandings['Team']=LeagueOneFinalStandings['Team'].map(name_mapping).fillna(LeagueOneFinalStandings['Team'])

##### Need to add a PorR column to the PL table

In [20]:
PremierFinalStandings['PorR'] = np.where(PremierFinalStandings['Pos'].isin([18,19,20]),"R",None)

In [21]:
PremierFinalStandings[PremierFinalStandings['Team']=='Leeds']

     Pos   Team  Pld   W   D   L   F   A  GD Pts    Season  PorR
348    9  Leeds   38  18   5  15  62  54   8  59  season20  None
376   17  Leeds   38   9  11  18  42  79 -37  38  season21  None
398   19  Leeds   38   7  10  21  48  78 -30  31  season22     R

### Now I want to gather all the data for the 3 leagues for all seasons and give them a grade based on the previous season

In [22]:
#calling the teams that remained in the championship the previous season midTableTeams
championshipGrades = ChampFinalStandings[['Pos','Team','Season']].copy()

In [23]:
#I think i should grade teams starting at 1. 1 being the premier league winners.

In [24]:
championshipGrades['grade'] = 20 + championshipGrades['Pos']

In [25]:
championshipGrades

     Pos            Team    Season  grade
0      1      Sunderland  season06     21
1      2      Birmingham  season06     22
2      3           Derby  season06     23
3      4       West Brom  season06     24
4      5          Wolves  season06     25
..   ...             ...       ...    ...
427   20  Sheffield Weds  season23     40
428   21        Plymouth  season23     41
429   22      Birmingham  season23     42
430   23    Huddersfield  season23     43
431   24       Rotherham  season23     44

[432 rows x 4 columns]

#### Now handle teams that are promoted or relegated

##### Handling relegated teams from Premier League

In [26]:
#relegated_teams =[PremierFinalStandings['PorR'] == 'R'].copy()
premierLeagueGrades =  PremierFinalStandings.copy()

In [27]:
#grading teams relegated the previous season as the best teams
#premierLeagueGrades['grade'] = premierLeagueGrades.groupby('Season')['Pos'].rank(method='first', ascending=True)
premierLeagueGrades['grade'] = premierLeagueGrades['Pos']

In [28]:
premierLeagueGrades=premierLeagueGrades[['Pos', 'Team', 'Season', 'grade']]
premierLeagueGrades.tail()

     Pos              Team    Season  grade
415   16         Brentford  season23     16
416   17     Nott'm Forest  season23     17
417   18             Luton  season23     18
418   19           Burnley  season23     19
419   20  Sheffield United  season23     20

##### Handling promoted teams from League One

In [29]:
#promoted_teams = LeagueOneFinalStandings[LeagueOneFinalStandings['PorR'] == 'P'].copy()

In [30]:
leagueOneGrades = LeagueOneFinalStandings.copy()

In [31]:
#leagueOneTeams['grade']=leagueOneTeams.groupby(['Season'])['Pos'].rank(method='first', ascending=True) +20 +24
leagueOneGrades['grade']=leagueOneGrades['Pos'] +20 +24

In [32]:
leagueOneGrades=leagueOneGrades[['Pos', 'Team', 'Season', 'grade']]
leagueOneGrades.head(6)

   Pos             Team    Season  grade
0    1       Scunthorpe  season06     45
1    2     Bristol City  season06     46
2    3        Blackpool  season06     47
3    4    Nott'm Forest  season06     48
4    5           Yeovil  season06     49
5    6  Oldham Athletic  season06     50

In [33]:
all_teams_graded=pd.concat([premierLeagueGrades, championshipGrades, leagueOneGrades], axis=0, ignore_index=True)
all_teams_graded

      Pos               Team    Season  grade
0       1  Manchester United  season06      1
1       2            Chelsea  season06      2
2       3          Liverpool  season06      3
3       4            Arsenal  season06      4
4       5  Tottenham Hotspur  season06      5
...   ...                ...       ...    ...
1219   20             Burton  season23     64
1220   21    Cheltenham Town  season23     65
1221   22     Fleetwood Town  season23     66
1222   23          Port Vale  season23     67
1223   24    Carlisle United  season23     68

[1224 rows x 4 columns]

In [34]:
all_teams_graded[all_teams_graded['Team']=='Leeds'].sort_values(by='Season')

     Pos   Team    Season  grade
383   24  Leeds  season06     44
820    5  Leeds  season07     49
843    4  Leeds  season08     48
865    2  Leeds  season09     46
462    7  Leeds  season10     27
493   14  Leeds  season11     34
516   13  Leeds  season12     33
542   15  Leeds  season13     35
566   15  Leeds  season14     35
588   13  Leeds  season15     33
606    7  Leeds  season16     27
636   13  Leeds  season17     33
650    3  Leeds  season18     23
672    1  Leeds  season19     21
288    9  Leeds  season20      9
316   17  Leeds  season21     17
338   19  Leeds  season22     19
770    3  Leeds  season23     23

In [35]:
seasons_df.head()

,Date,HomeTeam,AwayTeam,FTR,home.matchNumber,away.matchNumber,season,B365H,B365D,B365A,...,diff.last3.shots_against_target,diff.last3.corners,diff.last3.corners_conceded,diff.last3.fouls,diff.last3.fouls_other_team,diff.last3.yellows,diff.last3.reds,diff.total.win.whenHorA,diff.total.draw.whenHorA,diff.total.loss.whenHorA
0,2009-08-07,Middlesbrough,Sheffield United,D,1,1,season09,2.25,3.25,3.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
1,2009-08-08,Cardiff,Scunthorpe,H,1,1,season09,1.67,3.60,5.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
2,2009-08-08,Crystal Palace,Plymouth,D,1,1,season09,1.91,3.30,4.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
3,2009-08-08,Derby,Peterboro,H,1,1,season09,2.00,3.30,3.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>
4,2009-08-08,Leicester,Swansea,H,1,1,season09,2.25,3.25,3.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>

#### Now I want to join this data onto my seasons_df table. I want to have the finishing position for the previous two years for each team.

In [36]:
##adding 1 to each season so i can do the join seemlessly for the previous year
all_teams_graded['Season_t1']=all_teams_graded['Season'].apply(lambda x: 'season' + str(int(x[-2:]) + 1).zfill(2))

In [37]:
seasons_df=seasons_df.merge(all_teams_graded, how='left', left_on=['HomeTeam','season'], right_on=['Team','Season_t1'])
seasons_df=seasons_df.drop(columns=['Team','Season','Season_t1','Pos'])
seasons_df=seasons_df.rename(columns={'grade':'home.grade'})

In [38]:
seasons_df=seasons_df.merge(all_teams_graded, how='left', left_on=['AwayTeam','season'], right_on=['Team','Season_t1'])
seasons_df=seasons_df.drop(columns=['Team','Season','Season_t1','Pos'])
seasons_df=seasons_df.rename(columns={'grade':'away.grade'})

In [39]:
#check for nulls
seasons_df[seasons_df['home.grade'].isna() | seasons_df['away.grade'].isna()]

Empty DataFrame
Columns: [Date, HomeTeam, AwayTeam, FTR, home.matchNumber, away.matchNumber, season, B365H, B365D, B365A, MaxH, AvgH, MaxD, AvgD, MaxA, AvgA, diff.daysSince, diff.total.win, diff.total.draw, diff.total.loss, diff.total.goals, diff.total.conceded, diff.total.half_goals, diff.total.half_conceded, diff.total.shots, diff.total.shots_against, diff.total.shots_target, diff.total.shots_against_target, diff.total.corners, diff.total.corners_conceded, diff.total.fouls, diff.total.fouls_other_team, diff.total.yellows, diff.total.reds, diff.last3.win, diff.last3.draw, diff.last3.loss, diff.last3.goals, diff.last3.conceded, diff.last3.half_goals, diff.last3.half_conceded, diff.last3.shots, diff.last3.shots_against, diff.last3.shots_target, diff.last3.shots_against_target, diff.last3.corners, diff.last3.corners_conceded, diff.last3.fouls, diff.last3.fouls_other_team, diff.last3.yellows, diff.last3.reds, diff.total.win.whenHorA, diff.total.draw.whenHorA, diff.total.loss.whenHorA, home.grade, away.grade]
Index: []

[0 rows x 56 columns]

##### replacing the individual values with the difference between the teams playing

In [40]:
#subtracting home from away because high score is associated with a negative value, but I want to think of it as a positive value
seasons_df['diff.grade']=seasons_df['away.grade']-seasons_df['home.grade']
seasons_df.drop(columns=['home.grade','away.grade'], inplace=True)

#### doing the same as above but for the season 2 years previous

In [41]:
##adding 1 to each season so i can do the join seemlessly for the previous year
all_teams_graded['Season_t2']=all_teams_graded['Season'].apply(lambda x: 'season' + str(int(x[-2:]) + 2).zfill(2))

In [42]:
all_teams_graded.tail(10)

      Pos              Team    Season  grade Season_t1 Season_t2
1214   15    Bristol Rovers  season23     59  season24  season25
1215   16          Charlton  season23     60  season24  season25
1216   17           Reading  season23     61  season24  season25
1217   18  Cambridge United  season23     62  season24  season25
1218   19   Shrewsbury Town  season23     63  season24  season25
1219   20            Burton  season23     64  season24  season25
1220   21   Cheltenham Town  season23     65  season24  season25
1221   22    Fleetwood Town  season23     66  season24  season25
1222   23         Port Vale  season23     67  season24  season25
1223   24   Carlisle United  season23     68  season24  season25

In [43]:
seasons_df=seasons_df.merge(all_teams_graded, how='left', left_on=['HomeTeam','season'], right_on=['Team','Season_t2'])
seasons_df=seasons_df.drop(columns=['Team','Season','Season_t1','Season_t2','Pos'])
seasons_df=seasons_df.rename(columns={'grade':'home.grade2'})

In [44]:
seasons_df=seasons_df.merge(all_teams_graded, how='left', left_on=['AwayTeam','season'], right_on=['Team','Season_t2'])
seasons_df=seasons_df.drop(columns=['Team','Season','Season_t1','Season_t2','Pos'])
seasons_df=seasons_df.rename(columns={'grade':'away.grade2'})

In [45]:
#check for nulls
seasons_df[seasons_df['home.grade2'].isna() | seasons_df['away.grade2'].isna()].head()

,Date,HomeTeam,AwayTeam,FTR,home.matchNumber,away.matchNumber,season,B365H,B365D,B365A,...,diff.last3.fouls,diff.last3.fouls_other_team,diff.last3.yellows,diff.last3.reds,diff.total.win.whenHorA,diff.total.draw.whenHorA,diff.total.loss.whenHorA,diff.grade,home.grade2,away.grade2
3,2009-08-08,Derby,Peterboro,H,1,1,season09,2.00,3.30,3.8,...,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,8,20.0,NaN
19,2009-08-15,Peterboro,Sheffield Weds,D,2,2,season09,2.20,3.25,3.3,...,-2.0,-5.0,3.0,0.0,<NA>,<NA>,<NA>,-14,NaN,36.0
30,2009-08-18,Peterboro,West Brom,A,3,3,season09,2.80,3.25,2.5,...,-1.0,-5.0,-0.5,0.0,-1.0,1.0,0.0,-26,NaN,21.0
41,2009-08-22,Preston,Peterboro,H,4,4,season09,1.91,3.40,4.0,...,-2.333333,0.666667,0.0,0.0,0.0,1.0,-1.0,20,35.0,NaN
59,2009-08-31,Peterboro,Crystal Palace,D,5,5,season09,2.40,3.25,2.9,...,-5.0,-3.666667,-0.666667,0.0,-0.5,0.5,0.0,-11,NaN,25.0

In [46]:
seasons_df[seasons_df['home.grade2'].isna()][['HomeTeam','season']].value_counts()

HomeTeam   season
Burton     season16    23
Luton      season19    23
Peterboro  season09    23
Rotherham  season14    23
Name: count, dtype: int64

In [47]:
seasons_df[seasons_df['away.grade2'].isna()][['AwayTeam','season']].value_counts()

AwayTeam   season
Burton     season16    23
Luton      season19    23
Peterboro  season09    23
Rotherham  season14    23
Name: count, dtype: int64

##### I can see that I am missing data for these 5 teams. I suspect they were not in any of my 3 leagues in the 2 years prior. Will check and decided how i want to deal with it.

In [48]:
#Burton were in league 2 in 14/15 (finishing 1st)
#Luton were in league 2 in 17/18 (finishing 2nd)
#Peterboro were in league 2 in 07/08 (finishing 2nd)
#Rotherham were in league 2 in 12/13 (finishing 2nd)

#I will consider generating the league 2 table as I did for the other leagues,
#but for now I will just fill in the correct values for those 4 team and season combos

#Burton:69
#Luton:70
#Peterboro:70
#Rotherham:70

In [49]:
# Define the mapping for replacement values
replacement_values = {
    ('Burton', 'season16'): 69,
    ('Luton', 'season19'): 70,
    ('Peterboro', 'season09'): 70,
    ('Rotherham', 'season14'): 70
}

In [50]:
# Iterate through the dictionary and replace values
for (team, season), value in replacement_values.items():
    seasons_df.loc[(seasons_df['HomeTeam'] == team) & (seasons_df['season'] == season) & seasons_df['home.grade2'].isna(), 'home.grade2'] = value

In [51]:

# Iterate through the dictionary and replace values
for (team, season), value in replacement_values.items():
    seasons_df.loc[(seasons_df['AwayTeam'] == team) & (seasons_df['season'] == season) & seasons_df['away.grade2'].isna(), 'away.grade2'] = value

In [52]:
#check for nulls
seasons_df[seasons_df['home.grade2'].isna() | seasons_df['away.grade2'].isna()]

Empty DataFrame
Columns: [Date, HomeTeam, AwayTeam, FTR, home.matchNumber, away.matchNumber, season, B365H, B365D, B365A, MaxH, AvgH, MaxD, AvgD, MaxA, AvgA, diff.daysSince, diff.total.win, diff.total.draw, diff.total.loss, diff.total.goals, diff.total.conceded, diff.total.half_goals, diff.total.half_conceded, diff.total.shots, diff.total.shots_against, diff.total.shots_target, diff.total.shots_against_target, diff.total.corners, diff.total.corners_conceded, diff.total.fouls, diff.total.fouls_other_team, diff.total.yellows, diff.total.reds, diff.last3.win, diff.last3.draw, diff.last3.loss, diff.last3.goals, diff.last3.conceded, diff.last3.half_goals, diff.last3.half_conceded, diff.last3.shots, diff.last3.shots_against, diff.last3.shots_target, diff.last3.shots_against_target, diff.last3.corners, diff.last3.corners_conceded, diff.last3.fouls, diff.last3.fouls_other_team, diff.last3.yellows, diff.last3.reds, diff.total.win.whenHorA, diff.total.draw.whenHorA, diff.total.loss.whenHorA, diff.grade, home.grade2, away.grade2]
Index: []

[0 rows x 57 columns]

In [53]:
seasons_df['diff.grade2']=seasons_df['away.grade2']-seasons_df['home.grade2']
seasons_df.drop(columns=['home.grade2','away.grade2'], inplace=True)

In [54]:
#sanity check
#seasons_df[(seasons_df['season']=='season23') & (seasons_df['HomeTeam']=='Leeds')]

#its correct as Leicster are the only team that should have a better score than Leeds for the previous season here

### Transfers

In [174]:
champ_transfers=pd.read_excel('data/championshipSummerTransfers.xlsx')
pl_transfers=pd.read_excel('data/premierLeagueSummerTransfers.xlsx')
l1_transfers=pd.read_excel('data/leagueOneSummerTransfers.xlsx')

In [175]:
len(set(champ_transfers[~champ_transfers['Season'].isin(['season05','season06','season07','season08'])]['Team']))

52

In [176]:
#set(champ_transfers[~champ_transfers['Season'].isin(['season06','season07','season08'])]['Club'])

In [177]:
teams_just_in_seasons_df = sorted(
    set(seasons_df['HomeTeam']) - 
    set(champ_transfers[~champ_transfers['Season'].isin(['season05','season06', 'season07', 'season08'])]['Team'])
)

In [178]:
teams_just_in_summer_transfers_df = sorted(
    set(champ_transfers[~champ_transfers['Season'].isin(['season05','season06', 'season07', 'season08'])]['Team']) -
    set(seasons_df['HomeTeam'])
)

In [179]:
name_mapping_2 = dict(zip(
    sorted(list(teams_just_in_summer_transfers_df)), 
    sorted(list(teams_just_in_seasons_df)))
                     )

In [180]:
print(f"{len(name_mapping)} teams need to be mapped")
name_mapping_2

34 teams need to be mapped

{'Barnsley FC': 'Barnsley',
 'Birmingham City': 'Birmingham',
 'Blackburn Rovers': 'Blackburn',
 'Blackpool FC': 'Blackpool',
 'Bolton Wanderers': 'Bolton',
 'Brentford FC': 'Brentford',
 'Brighton & Hove Albion': 'Brighton',
 'Burnley FC': 'Burnley',
 'Burton Albion': 'Burton',
 'Cardiff City': 'Cardiff',
 'Charlton Athletic': 'Charlton',
 'Coventry City': 'Coventry',
 'Derby County': 'Derby',
 'Doncaster Rovers': 'Doncaster',
 'Fulham FC': 'Fulham',
 'Huddersfield Town': 'Huddersfield',
 'Hull City': 'Hull',
 'Ipswich Town': 'Ipswich',
 'Leeds United': 'Leeds',
 'Leicester City': 'Leicester',
 'Luton Town': 'Luton',
 'Middlesbrough FC': 'Middlesbrough',
 'Millwall FC': 'Millwall',
 'Newcastle United': 'Newcastle',
 'Norwich City': 'Norwich',
 'Nottingham Forest': "Nott'm Forest",
 'Peterborough United': 'Peterboro',
 'Plymouth Argyle': 'Plymouth',
 'Portsmouth FC': 'Portsmouth',
 'Preston North End': 'Preston',
 'Queens Park Rangers': 'QPR',
 'Reading FC': 'Reading',
 'Rotherham United': 'Rotherham',
 'Scunthorpe United': 'Scunthorpe',
 'Sheffield Wednesday': 'Sheffield Weds',
 'Southampton FC': 'Southampton',
 'Stoke City': 'Stoke',
 'Sunderland AFC': 'Sunderland',
 'Swansea City': 'Swansea',
 'Watford FC': 'Watford',
 'West Bromwich Albion': 'West Brom',
 'West Ham United': 'West Ham',
 'Wigan Athletic': 'Wigan',
 'Wolverhampton Wanderers': 'Wolves',
 'Wycombe Wanderers': 'Wycombe',
 'Yeovil Town': 'Yeovil'}

In [181]:
champ_transfers['Team']=champ_transfers['Team'].map(name_mapping).fillna(champ_transfers['Team'])

In [182]:
champ_transfers

,Team,Expenditure,Arrivals,Income,Departures,Balance,Season
0,Crystal Palace,â‚¬6.45m,10,â‚¬3.30m,10,â‚¬-3.15m,season05
1,Leeds,â‚¬5.83m,19,â‚¬1.58m,20,â‚¬-4.25m,season05
2,Sheffield United,â‚¬3.75m,39,â‚¬1.98m,30,â‚¬-1.78m,season05
3,Hull,â‚¬3.06m,12,-,13,â‚¬-3.06m,season05
4,Reading FC,â‚¬2.04m,18,â‚¬625k,18,â‚¬-1.42m,season05
...,...,...,...,...,...,...,...
451,Huddersfield,â‚¬1.10m,19,â‚¬2.00m,21,â‚¬900k,season23
452,Blackburn,â‚¬1.00m,12,â‚¬5.20m,15,â‚¬4.20m,season23
453,Cardiff,-,15,â‚¬330k,19,â‚¬330k,season23
454,QPR,-,17,â‚¬3.11m,15,â‚¬3.11m,season23
455,West Brom,-,10,â‚¬7.80m,11,â‚¬7.80m,season23

In [183]:
l1_transfers['Season'].value_counts()
#I notice season19 only has 23 counts. That is because Bury got expelled from the league before playing any games.

Season
season05    24
season06    24
season07    24
season08    24
season09    24
season10    24
season11    24
season12    24
season13    24
season14    24
season15    24
season16    24
season17    24
season18    24
season20    24
season22    24
season21    24
season23    24
season19    23
Name: count, dtype: int64

##### Now I am going to join these tables

In [193]:
all_transfers=pd.concat([pl_transfers, champ_transfers, l1_transfers], axis=0, ignore_index=True)

In [195]:
all_transfers['Season'].value_counts()

Season
season05    68
season06    68
season07    68
season08    68
season09    68
season10    68
season11    68
season12    68
season13    68
season14    68
season15    68
season16    68
season17    68
season18    68
season20    68
season22    68
season21    68
season23    68
season19    67
Name: count, dtype: int64

In [196]:
all_transfers

,Team,Expenditure,Arrivals,Income,Departures,Balance,Season
0,Chelsea FC,â‚¬86.00m,11,â‚¬33.10m,13,â‚¬-52.90m,season05
1,Newcastle United,â‚¬59.50m,12,â‚¬30.90m,14,â‚¬-28.60m,season05
2,Liverpool FC,â‚¬35.30m,21,â‚¬18.89m,20,â‚¬-16.41m,season05
3,Everton FC,â‚¬32.73m,12,-,11,â‚¬-32.73m,season05
4,Tottenham Hotspur,â‚¬30.30m,19,â‚¬17.35m,17,â‚¬-12.95m,season05
...,...,...,...,...,...,...,...
1286,Portsmouth FC,-,23,-,20,0,season23
1287,Port Vale FC,-,20,-,17,0,season23
1288,Reading FC,-,24,â‚¬2.56m,18,â‚¬2.56m,season23
1289,Stevenage FC,-,23,-,18,0,season23
1290,Wigan Athletic,-,22,â‚¬290k,24,â‚¬290k,season23

#### Now I am going to convert all these euro values to numbers. I will use a function I built another project.

In [198]:
def convert_money(value):
    """
    Convert monetary values from string with 'k' or 'm' to numerical values.
    Handles both positive and negative values.
    If the value is '-', it is treated as 0.
    If the value is already an integer 0, it remains 0.
    """
    try:
        # Handle invalid cases explicitly
        if value in [0, '-', '0', '+-0', '+0', '-0']:
            return 0

        value = str(value).replace('â‚¬', '').strip()  # Ensure value is a string and remove currency symbol

        # Normalize invalid signs (e.g., "+-0" should be "0")
        if value in ['+-0', '+0', '-0']:
            return 0
        
        sign = -1 if value.startswith('-') else 1  # Detect if it's negative
        value = value.lstrip('+-')  # Remove both '+' and '-' for processing
        
        if 'k' in value.lower():  # Handle 'k' for thousands
            return sign * float(value.replace('k', '').strip()) * 1_000
        elif 'm' in value.lower():  # Handle 'm' for millions
            return sign * float(value.replace('m', '').strip()) * 1_000_000
        else:
            return sign * float(value)  # No 'k' or 'm', return as float directly
    except ValueError as e:
        # Print the problematic value and error message
        print(f"Error converting value: {value}. Error: {e}")
        return None  # or return a default value if appropriate

In [202]:
all_transfers[['Expenditure','Income','Balance']]=all_transfers[['Expenditure','Income','Balance']].map(convert_money)

In [203]:
### Need to verify these new values before continuing